<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.Mapper.mesManager.User.UserMapper">
    <select id="loginAction" resultType="com.mes.Common.Interceptor.Session">
        EXEC SP_SYS_LOGIN #{user_code} , #{user_pwd}
    </select>
</mapper>


