.dep_3{padding-left: 55px !important;}
.title_name{font-weight: 700; font-size: 13px;}
.sub_titles{font-weight: 700; font-size: 13px; float: right; }
#myTable_info{font-weight: 700 !important;}
.total_data{color: #005cbf;}
.bottom-btns{float: right;margin: 5px;}