<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.Mapper.mesSCM.Standard.ScmStandardMapper">
    <select id="sysBPartAdd" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_SYS_BPART_ADD #{part_type_code},#{part_grp_code},#{part_code},#{part_name},#{cargo_code},#{loc_code},#{supp_code},
    	#{spec},#{unit_code},#{pack_qty},#{max_qty},#{min_qty},#{qc_level},#{user_code},#{keyword}
    </select>
    <select id="sysBPartGet" resultType="com.mes.mesScm.Standard.DTO.sysBPart">
        	EXEC SP_SYS_BPART_GET #{page}, #{rows},#{keyword}, #{keyword2}, '',''
    </select>
    <select id="sysBPartDelete" resultType="com.mes.Common.DataTransferObject.Message">
        	EXEC SP_SYS_BPART_DEL  #{keyword}
    </select>
    <select id="sysBPartOneGet" resultType="com.mes.mesScm.Standard.DTO.sysBPart">
        	EXEC SP_SYS_BPART_GET 1, 1, '','', #{keyword},''
    </select>
</mapper>
