<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.Mapper.mesSCM.Standard.ScmStandardMapper">
    <select id="sysLocGet" resultType="com.mes.mesScm.Standard.DTO.sysLoc">
        EXEC SP_SYS_LOC_GET #{page}, #{rows}, '',#{keyword}
    </select>

    <select id="sysLocOneGet" resultType="com.mes.mesScm.Standard.DTO.sysLoc">
        EXEC SP_SYS_LOC_GET 1, 1, #{keyword},''
    </select>

    <select id="sysLocAdd" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_SYS_LOC_ADD #{cargo_code},#{loc_code},#{loc_name},#{user_code},#{keyword}
    </select>
    <select id="sysLocDelete" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_SYS_LOC_DEL #{keyword}
    </select>
</mapper>