<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.Mapper.mesManager.Master.MasterMapper">
    <select id="sysProdLineGet" resultType="com.mes.mesManager.Master.DTO.SYSProdLine">
    	EXEC SP_SYS_LINE_GET #{page}, #{rows}, '','',''
    </select>
    <select id="sysProdLineAdd" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_SYS_LINE_ADD #{dept_code},#{line_code},#{line_name},#{line_char},#{line_type},#{user_code},#{keyword}
    </select>
    <select id="sysProdLineDelete" resultType="com.mes.Common.DataTransferObject.Message">
    	EXEC SP_SYS_LINE_DEL #{keyword}
    </select>
    <select id="sysProdLineOneGet" resultType="com.mes.mesManager.Master.DTO.SYSProdLine">
    	EXEC SP_SYS_LINE_GET 1,1, #{keyword},#{keyword2},''
    </select>

</mapper>


